{% extends 'layoutInner.html' %}
{%block content%}

<div style="padding:20px">
    <h3></h3>
</div>
<div class="container">
    <div class="row">
<!--        <div class="col-4" style="float:left">-->
<!--            <div class="embed-responsive embed-responsive-16by9">-->
<!--<iframe width="871" height="490" src="https://www.youtube.com/embed/LaFtAcIrGWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-8" style="float:left">
          <h3 class="card special-card" style="background-color: rgba(245, 245, 245, 0.05)">{{ data[1] }}</h3>
           <span class="card-block special-card" style="background-color: rgba(245, 245, 245, 0.05); font-size:25px"> <span>{{ data[8] }}/5</span></span><br>
            <u><span>{{ data[6] }} enrolled</span></u>&nbsp&nbsp<u><span>total ratings: {{ data[7] }}</span></u>

<!--            <form style="padding-top:20px" method="POST">-->
<!--            <button class="btn btn-danger" type="submit" name="myCountry" value="Complete" onclick="myFunction1()">Complete Course</button>-->
<!--                <p id="demo"></p>-->
<!--            </form>-->

        </div>
    </div>
    <div class="row" style="padding-top:50px">
      <div class="col-12 card">
          {{ data[5] }}
      </div>
<!--        <form style="padding-top:20px" method="POST">-->
<!--            <button class="btn btn-danger" type="submit" name="myCountry" value="10" onclick="myFunction1()">Complete Course</button>-->
<!--                <p id="demo"></p>-->
<!--        </form>-->
      <div class="row">
              <div class="col-12" style="padding-top:50px">
                 <h3 class="" style="padding:10px">Your given rating and feedback</h3>
              <div class="row" style="display:inline">
      <div class="row" style="padding-top:25px">
      <div class="col-12 card">
          {{ data1[3] }}
      </div>
      <div class="row" style="padding-top:50px">
      <div class="col-12 card">
          {{ data1[4] }}
      </div>
      </div> </div> </div> </div>
      <div class="row">
              <div class="col-12" style="padding-top:50px">
                 <h3 class="" style="padding:10px">People interested in this course also viewed</h3>
              <div class="row" style="display:inline">
<form method="POST">
   <a href="courses" ><button name="myCountry" value="{{ data4[0] }}" class="col-3 card  button " style="float:left; color:black; padding:20px 20px 20px 20px; height:100px">
        {{ data4[0] }}
   </button></a>
  <a href="courses" ><button name="myCountry" value="{{ data4[1] }}" class="col-3 card  button " style="float:left; color:black;padding:20px 20px 20px 20px; height:100px">
        {{ data4[1] }}
   </button></a>
  <a href="courses" ><button name="myCountry" value="{{ data4[2] }}" class="card col-3  button " style="float:left; color:black;padding:20px 20px 20px 20px; height:100px">
        {{ data4[2] }}
   </button></a>
 <a href="courses" ><button name="myCountry" value="{{ data4[3] }}" class="col-3 card  button " style="float:left; color:black;padding:20px 20px 20px 20px; height:100px">
        {{ data4[3] }}
 </button></a></form>
</div>

              </div>
              </div>
      </div>
    </div>
</div>
<script>
function myFunction() {
  var txt;
  if (confirm("Congratulation! You have been enrolled to the course")) {
    txt = "You pressed OK!";
  } else {
    txt = "You pressed Cancel!";
  }
  document.getElementById("demo").innerHTML = txt;
}
function myFunction1() {
  var txt;
  if (confirm("Congratulation! You have completed the course")) {
    txt = "You pressed OK!";
  } else {
    txt = "You pressed Cancel!";
  }
  document.getElementById("demo").innerHTML = txt;
}
</script>
{% endblock content %}